@charset 'UTF-8';
.rangein1{background:#fff;color:#000}
.rangein2{background:#fff;color:#000}
.Productstyle{width:250px}

/**
 * Resultat retourne par la generation :
 * =====================================


  .rangein1{background:#fff;color:#000}
  .rangein2{background:#fff;color:#000}
  .Productstyle{width:250px}


*/