@charset 'UTF-8';
.Prixstyle{background:#fff;color:#000}
.modelestyle{background:#3b240b;color:#01df74}
.rangein1{background:#fff;color:#000}
.rangein2{background:#fff;color:#000}
.rangein3{background:#fff;color:#000}
.Productstyle{width:60px}
.table-container{overflow-x:scroll;width:90%;height:500px}