@charset 'UTF-8';
.GPSstyle{background:#fe2ef7;color: #122a0a}
.Wifistyle{background:#58d3f7;color:#f6e3ce;width:120px}

/**
 * Resultat retourne par la generation :
 * =====================================


 .GPSstyle{background:#fe2ef7;color:#122a0a}
 .Wifistyle{width:120px;background:#58d3f7;color:#f6e3ce}


*/