@charset 'UTF-8';
.Languagestyle{background:#fff;color:#000}
.CommentsOtherinfostyle{background:#fe2ef7;color:#122a0a}
.Licencestyle{background:#3b240b;color:#01df74}
.Outputstyle{background:#fe2ef7;color:#122a0a;width:120px}

/**
 * Resultat retourne par la generation :
 * =====================================


  .Languagestyle{background:#fff;color:#000}
  .CommentsOtherinfostyle{background:#fe2ef7;color:#122a0a}
  .Licencestyle{background:#3b240b;color:#01df74}
  .Outputstyle{width:120px;background:#fe2ef7;color:#122a0a}


*/