@charset "UTF-8";

.Languagestyle {
    background-color: #FFFFFF;
    color: #000000;
}

.CommentsOtherinfostyle {
    background-color: #FE2EF7;
    color: #122A0A;
}

.Licencestyle {
    background-color: #3B240B;
    color: #01DF74;
}

.Outputstyle {
    background-color: #FE2EF7;
    color: #122A0A;
}

.Outputstyle { width: 250px; }