@charset 'UTF-8';
.Storagemediastyle{background:#58d3f7;color:#fff}
.GPSstyle{width:250px}
.rangein1{background:#cfc;color:#000}
.rangein2{background:#4d88ff;color:#fff}
.compare1{background:#58d3f7;color:#ccc}
